body {
    background-color: #f2f2f2;
}

section {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;


    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;

    color:#006837;


}

div {

    background-color: #f9c582;
    max-width: 520px;
    height: auto;

        @media (max-width: 520px) {
            width: 100vw;

        }

}

h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;

    font-size: 36px;
    
    color: #006837;


    @media (max-width: 520px) {
       font-size: 24px;
    }

}

input {

    display: inline-block;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 16px;

    width: 480px;
    height: 64px;

    margin-right: 20px;
    margin-bottom: 20px;

    border: none;


    @media (max-width: 520px) {
        width: 100% - 40px;
     }
}
